.image:hover {
    outline: 5px solid #26a69a;
}

.modal-dialog {
    overflow-y: initial !important;
}

.image-text {
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color: #444444;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-body {
    height: 800px;
    overflow-y: auto;
}

.custom-file-label {
    text-align: initial;
}
.close {
    position: absolute;
    right: 5px;
}
.modal-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 20vh;
}

.select {
    outline: 5px solid #26a69a;
}

.resolution {
    position: absolute;
    top: 0;
    right: 0px;
    width: 120px;
    background-color: #26a69a;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.del-position {
    position: absolute;
    top: 0;
    left: 0px;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.content .card.has-table {
    min-height: 70vh;
}

.navbar-brand img {
    height: 1.5rem;
}

span.action.btn.btn-light {
    background-color: #26a69a;
    color: white;
}

.btn-primary:hover,
.btn-primary {
    color: #fff;
    background-color: #26a69a;
}

.text-red {
    color: red;
}

.fs-30 {
    font-size: 30px;
}
.box.modal-image.image.card-img-top.mb-2:hover {
    background-color: lightblue;
}

.modal-header .close {
    padding: 1.25rem;
    margin: -1.25rem -0.25rem -1.25rem auto;
}
select.form-control:not([size]):not([multiple]) {
    height: 2.25003rem;
    /* width: fit-content; */
}
.select2-selection--multiple .select2-selection__choice {
    background-color: #26a69a !important;
    color: #fff;
    cursor: default;
    float: left;
    margin-right: 0.125rem;
    margin-top: 0.125rem;
    padding: 0.3125rem 0.875rem;
    border-radius: 0.1875rem;
    transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    color: #fff !important;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}
