* {
  scroll-behavior: smooth;
}

h1.text-custom {
  font-size: 50px;
}

p.text-custom {
  font-size: 18px;
}

.menu-list-items {
  height: 80px;
}

.mega-menu.desktopTopFixed .menu-list-items {
  height: 60px !important;
}

.mega-menu .menu-logo {
  padding: unset;
  height: 100%;
  display: flex;
  align-items: center;
}

.mega-menu.desktopTopFixed .menu-list-items .menu-logo>li>a img {
  height: 40px;
  margin: unset;
}

.mega-menu>section.menu-list-items .menu-bar>ul>li:last-child>a {
  padding-right: 0px;
}

.rev-slider {
  max-height: 100vh;
}

::selection {
  background: #2580c4;
  color: #fff;
  text-shadow: none;
}

.product .product-image .add-to-cart a {
  background: #2580c4;
}

a,
a:hover,
.theme-color,
.mega-menu .menu-links>li.active a,
.mega-menu .drop-down-multilevel li:hover>a,
.mega-menu .menu-links>li>a:hover,
.play-video:hover,
.popup-video .play-video:hover a,
.footer-useful-link ul li a:hover,
.footer-widget a:hover,
.footer-widget a,
.blog .admin a,
.blog a:hover,
ul.list li::after,
ul.page-breadcrumb li a:hover,
.sidebar-widget .recent-post .recent-post-info a:hover,
.sidebar-widget .recent-post .recent-post-info span,
.sidebar-widget .widget-categories li a:hover,
.sidebar-widget .widget-categories li a:hover i,
.blog-entry .blog-detail .entry-title a:hover,
.blog-entry .entry-meta ul li a i,
.blog-entry .entry-meta ul li a:hover,
.blog-entry .entry-meta ul li i,
.mega-menu .menu-links>li.active .drop-down-multilevel a:hover {
  color: #2580c4;
}

.topbar ul li a:hover {
  color: #2580c4;
}

.rev_slider .caption,
.rev_slider .tp-caption,
.tp-simpleresponsive img {
  -moz-user-select: unset;
  -khtml-user-select: unset;
  -webkit-user-select: unset;
  -o-user-select: unset;
}

.topbar-social ul li a span {
  font-size: 18px;
}


.footer-anchor a{
  color: rgba(255,255,255,0.7);
}
.footer-anchor a:hover{
  color: #2580c4;
}

.gpuh-intro{
  font-size: 34px !important;
}
.py-80{
    padding: 80px 0px;
    }
.pt-80{
padding-top:80px;
}
.pb-80{
padding-bottom: 80px;
}
.my-80{
    margin: 80px 0px;
}
.mt-80{
    margin-top:80px;
}
.mb-80{
margin-bottom: 80px;
}
.ml-30{
    margin-left:30px;
}
.header-title{
    text-transform: none !important;
}
.font-40{
font-size: 40px !important;
}
.font-30{
font-size: 30px !important;
}
