<section class="page-section-ptb">
    <div class="container">
        <div class="row page-section-pb">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-text left-icon mt-50 xs-mt-20">
                    <div class="feature-icon">
                        <img src="/frontend/images/why.png" alt="" width="64" height="64" />
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">Why</h5>
                        <p>The purpose of this specific
                            campaign will write here.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-text left-icon mt-50 xs-mt-20">
                    <div class="feature-icon">
                        <img src="/frontend/images/where.png" alt="" width="64" height="64" />
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">Where</h5>
                        <p class="mb-0">London</p>
                        <p>United Kingdom</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-text left-icon mt-50 xs-mt-20">
                    <div class="feature-icon">
                        <img src="/frontend/images/when.png" alt="" width="64" height="64" />
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">When</h5>
                        <p>2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid full-width" src="/frontend/images/about/01.jpg" alt="">
            </div>
            <div class="col-lg-6 sm-mt-30">
                <div class="section-title">
                    <h6>Who we are and what we do</h6>
                    <h2 class="title-effect">Get to know us better.</h2>
                    <p>We truly care about our users and our product. We are dedicated to providing you with the best
                        experience possible. </p>
                </div>
                <p>Let's make something great together consectetur adipisicing elit. <span class="theme-color"
                        data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="HTML5 template">Webster</span> conseqt quibusdam, enim expedita sed quia
                    nesciunt. Vero quod conseqt quibusdam, enim expedita sed quia nesciunt incidunt accusamus
                    necessitatibus</p>
                <div class="row mt-30">
                    <div class="col-md-6">
                        <ul class="list list-unstyled list-hand">
                            <li> Award-winning design</li>
                            <li> Super Fast Customer support </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-unstyled list-hand">
                            <li> Easy to Customize pages</li>
                            <li> Powerful Performance </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
